{% extends 'base.html' %}

{% block title %}add recipe{% endblock %}

{% block content %}
<div class="full_recipe_card">
    <h4>Fill your recipe info here</h4>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_whole">
            {% for field in form %}
            <div class="form_group">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <input type="submit" value="Send">
        </div>

        
    </form>

    {% if saved_form %}
        <h4>Your recipe is succesfully added</h4>
    {% endif %}
</div>
{% endblock %}